@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;
}

.leaflet-container {
    z-index: 1 !important; /* Ensure the map stays behind other elements */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit-based browsers */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hides the scrollbar in IE and Edge */
    scrollbar-width: none;     /* Hides the scrollbar in Firefox */
  }

  .custom-table .ant-table-thead > tr > th {
    background-color: #2c2f36; /* Custom background color */
    color: white; /* Change text color if needed */
  }
  /* Customizing the spinner color for the Ant Design table */
.custom-table .ant-spin-dot {
  border-color: #2c2f36 !important; /* Set the color of the spinner */
}

.custom-table .ant-spin-dot i {
  background-color: #2c2f36 !important; /* Set the color of the spinner */
}



